*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: white;
  overflow-x: hidden;
}


#header{
  height: 100vh;
  background-image: url(bg1.jpg);
  background-size: cover;       
  overflow-x: hidden;             
  background-repeat: no-repeat; 
  background-position: center center;
}

.container {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 10px 10%; 
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;              
  right: 0;             
  width: 100%;
  background-color: gray;
  padding: 10px 20px;   
  height: auto;
  z-index: 1000;        
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


.logo{
  width: 140px; 
}

nav ul li {
 display: inline-block;
 list-style: none;
 margin: 10px 20px; 
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.div-mode{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

#mode{
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 18px;
  height: 50px;
  width: 150px;
  border-radius: 75px;
  margin-left: 395px;
  transition: 0.3s, ease;
  border: none;
}

#mode:hover{
  background-color: #ff004f;
  color: black;
  color: white;
}

.header-text {
  display: inline-block;
  max-width: 100%;
  margin-top: 11%;
  font-size: 30px;
  color: black;
}

.header-text p {
  margin-bottom: 40px;
}

.header-text p span {
  color: red;
}

.header-text h1{
  font-size: 60px;
  margin-top: 2%;
}

.header-text h1 span {
  color: #ec3752;
  transition: 0.3s ease;
}

.header-text h1 span:hover {
  text-decoration: underline;
  color: red;
}

.header-text h6{
  margin-top: 30px;
}

.header-text button {
  background-color: #ec3752;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 180px;
  height: 50px;
  transition: 0.3s ease;
}

.header-text button:hover {
  background-color: red;
  transform: translateY(-5px);
}

/*typewriter effect*/
.typewriter {
  overflow: hidden;
  border-right: 2px solid black; /* The blinking cursor */
  white-space: nowrap;
  width: 0;
  animation: 
    typing 2s steps(30, end) forwards, 
    hide-caret 0s 2s forwards; /* hide cursor after 2s */
}

/* Typewriter effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Instantly remove the cursor after typing is complete */
@keyframes hide-caret {
  to { border-right: none; }
}



.ds, .ml {
  margin-top: 20px;
  padding-left: 0px;
  color: #ec3752;
  transition: 0.3s ease;
  display: inline-block;
  white-space: nowrap;
}

.ds:hover,
.ml:hover {
  color: red;
  text-decoration: underline;
}


/*ABOUT*/
#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap; 
}

.about-col-1 {
  flex-basis: 35%; /*width*/
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%; /*width*/
}

.sub-title{
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-bottom: 8px;
}

.text{
  color: white;
  line-height: 23px;
  font-size: 17px;
}

.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 180px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}

.tab-links::after{
  content: "";
  width: 0;  /*width 0 in general case*/
  height: 3px;
  background: #00ff11;
  position: absolute;
  left: 0;
  bottom: 0px;
  transition: 0.5s;
}

/*active-link determines which tab is active*/
.tab-links.active-link::after{ 
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #D3D3D3;
  font-size: 16px;
  font-weight: bolder;
}

.tab-contents ul li span:hover {
  text-decoration: underline;
}

.tab-contents{
  display: none; /*first, hide all of 3 sections*/
}

.tab-contents.active-tab {
  display: block;
}


/*---services-------*/
#services { /*it is "id", not class, so "#" is used instead of "."*/
  padding: 60px 0;
}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px; 
}

.service-header{
  color: white;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 40px;
  transition: backgrund 0.5s, transform 0.5s; /*transition upon hovering*/
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px;
}

.services-list div p {
  font-size: 15px;
}

.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px); /*move the box up by 10px upon hovering*/
}


/*--------------projects---------*/
#projects { /*it is "id", not class, so "#" is used instead of "."*/
  padding: 60px 0;
}

.project-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px; 
}

.project-header{
  color: white;
}

.project-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 40px;
  transition: backgrund 0.5s, transform 0.5s; /*transition upon hovering*/
}

.project-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.project-list div h2 {
  font-weight: 600;
  margin-bottom: 15px;
  transition: 0.5s;
}

.project2 ul li,
.project3 ul li,
.project1 ul li {
  font-size: 15px;
}

.project-list div h2:hover {
  text-decoration: underline;
}

.project-list div p {
  font-size: 15px;
}

.project-list div:hover {
  background: #ff004f;
  transform: translateY(-10px); /*move the box up by 10px upon hovering*/
}

/*------------contact------------*/

#contact{
  margin-top: 10px;
  margin-bottom: 0px;
}

.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left p{
  margin-top: 30px;
}

.contact-left p i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  padding-left: 0px;
  margin-top:10px;
  margin-left: 40px;
}

.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 38px;
  color: black;
  display: inline-block;
  transition: 0.5s;
}

.social-icons a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}

.button{
  padding: 12px 20px;
  background: #ff004f;
  border: none;
  border-radius: 0px;
  margin-top: 50px;
  transition: 0.5s;
  color: white;
}

.button a{
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
}

.button a i {
  color: white;
}

.button:hover{
  transform: translateY(-5px);
  background-color: rgb(255, 0, 79, 0.5);
}

.contact-right form{
  width: 100%;
}

form input, form textarea {/*form is a tag, not a class, so . not used*/
  width: 100%;
  border: none;
  outline: none;
  background-color: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  cursor: text;
}

.btn{
  padding: 14px 60px;
  background: #ff004f;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover{
  background-color: rgb(255, 0, 79, 0.5);
}

.copyright{
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #262626;
  margin-top: 140px;
  bottom: 0;
}

#msg {
  color: #61b752;
  margin-top: 20px;
  display: block;
}

nav .fa-bars,
nav .fa-times 
{
  display: none;
}





/*----RESPONSIVENESS CSS For Small Screen*/

@media only screen and (max-width: 768px)
{
  .header-text {
    font-size: 18px;
    padding: 0 10px;
    text-align: center;
  }

  .header-text p {
    font-size: 1rem;
    margin: 60px 0;
  }

  .header-text h1 {
    font-size: 30px;
    line-height: 1.3;
  }

  .header-text h6 {
    font-size: 0.95rem;
    margin-top: 15px;
    white-space: nowrap;
  }

  .header-text button {
    width: 90%;
    height: 45px;
    font-size: 16px;
    margin-top: 70px;
  }

  .social-icons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
  }

  .typewriter {
    font-size: 28px;
    animation: typing 2s steps(30, end) forwards, blink-caret 0.75s step-end infinite;
  }

  .ds, .ml {
    font-size: 0.95rem;
    display: inline-block;
    white-space: nowrap;
  }


  
  nav .fas {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #f5f5f5;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 60px;
    flex-direction: column;
    display: flex;
    gap: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
  }
 
  nav ul li {
    display: block;
    margin: 20px;
  }

  nav .fa-bars {
    display: block;           
    position: fixed;          
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    right: 20px;        
    background-color: black;
  }
  
  nav ul .fa-times {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    font-size: 24px;
    cursor: pointer;
  }



  .sub-title {
    font-size: 40px;
  }
  .about-col-1, .about-col-2{
    flex-basis: 100%;
  }
  .about-col-1{
    margin-bottom: 30px;
  }
  .about-col-2{
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .work-list{
    grid-template-columns: 1fr;
    grid-gap: 0px; 
    height: auto; 
    margin-top: 10px; 
  }

  .contact-left, .contact-right{
    flex-basis: 100%;
  }

  .copyright{
    font-size: 14px;
  }

  .button {
    width: 100%;
    margin: 50px 0;
  }
  .btn{
    margin-bottom: 0px;
  }
}
